body {
    color: white;
    background-color: lightblue;
}

img {
    width: 300px;
    border-radius: 25px;
    margin-left: 10%;

}

h1{
    text-align: center;
    font-size: 200%;
    color: black;
    font: bold 48px arial;
    font-variant: small-caps;
}

.abouttext{
    text-align: center;
    font-size: 150%;
    color: black;
    font-variant: normal;
    padding-left: 5%;
}

.aboutme{
    text-align: center;
    font-size: 100%;
    color: black;
    font-variant: normal;

}

.employment {
    text-align: center;
    font-size: 175%;
    color: black;
    font-variant: normal;
    font: bold 20px verdana;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    background-color: white;
    color: darkviolet;
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
    padding: 20px;
    display: block;

}

.container{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items:center;
    display: flex;
}

.navlist {
    background-color: darkviolet;
    width: 10%;
    height: 50%;
    float: left;
    border-radius: 25px;
}